<table class="as-search">
  <tr>
    <th><%= ProjectIndicator.human_attribute_name(:indicator_taxon_id) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:indicator_taxon_id]), class: active_params(indicator_taxon_id: nil, active: 'button is-info', item: 'button is-light') %>
      <% @indicator_taxons.each do |indicator_taxon| %>
        <%= link_to indicator_taxon.name, filter_params(indicator_taxon_id: indicator_taxon.id), class: active_params(indicator_taxon_id: indicator_taxon.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
</table>
