<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('bench.panel.facilitates.index.title'), panel_facilitates_path %></li>
    <li><%= link_to @facilitate.name, panel_facilitates_path(id: @facilitate.id) %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
<% end %>

<%= render partial: 'table', locals: { facilitate_providers: @facilitate_providers } %>
