<div class="box">
  <div class="ui vertical segment">
  <a class="ui tag label">
    价格：¥<%= @facilitate.price %>
  </a>
  </div>
</div>

<div class="box buttons">
  <%= button_to({ controller: 'trade/my/trade_items', action: 'create', good_type: @facilitate.class.name, good_id: @facilitate.id }, class: 'button is-primary is-fullwidth') do %>
    <i></i><span>在线购买</span>
  <% end %>
  <% if current_organ && !@facilitate.facilitate_providers.exists?(provider_id: current_organ.id) %>
    <%= link_to '申请为供应商', { controller: 'bench/org/facilitate_providers', action: 'new', facilitate_id: @facilitate.id }, class: 'button is-link is-fullwidth' %>
  <% end %>
</div>
