<div class="column">
  <%= render 'taxon' %>
  <div class="cards is-4">
    <%= render partial: 'card', collection: @facilitates, as: :facilitate %>
  </div>
  <%= paginate @facilitates %>
</div>

<div class="column is-one-fifth">
  <%= render partial: 'cart_nav', locals: { cart_con: 'trade/my/carts', cart: @cart } if @cart %>
</div>
