<%= render partial: 'project_bar', locals: { project: @project } %>

<div class="ui divided items" id="task_templates">
  <% @task_templates.each do |task_template| %>
    <%= render partial: 'index_item', locals: { task_template: task_template } %>
  <% end %>
  <div id="item_add" class="item">
    <%= link_to new_admin_task_template_path(tasking_type: params[:tasking_type], tasking_id: params[:tasking_id]), remote: true do %>
      <i class="fas fa-plus"></i>
    <% end if params[:tasking_type] %>
  </div>
</div>
