<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to(t('bench.admin.facilitates.index.title'), { controller: 'facilitates', action: 'index' }) %></li>
    <% if params[:facilitate_id] %>
      <li><%= link_to(@facilitate.name, { controller: 'facilitates', action: 'show', id: @facilitate.id }) %></li>
    <% end %>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
