<div>
  <dt><%= Bench::Facilitator.human_attribute_name(:name) %></dt>
  <dd><%= @facilitator.name %></dd>
</div>
<div>
  <dt><%= Bench::Facilitator.human_attribute_name(:member_id) %></dt>
  <dd><%= @facilitator.member_id %></dd>
</div>
