<tr>
  <td class="has-text-right"><%= Bench::Facilitator.human_attribute_name(:name) %></td>
  <td><%= @facilitator.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Bench::Facilitator.human_attribute_name(:member_id) %></td>
  <td><%= @facilitator.member_id %></td>
</tr>
