<td>
  <div class="is-several">
    <%= image_tag model.avatar, class: 'image is-24x24' if model.avatar.attached? %>
    <span><%= model.name %></span>
  </div>
</td>
<td>
  <p><%= model.member.name %></p>
  <p class="text-grey"><%= model.description %></p>
</td>
