<div class="tags has-addons">
  <%= button_to({ controller: 'tasks', action: 'fund', id: task.id }, aria: { label: '酬金' }, form: { class: 'tag' }) do %>
    <i class="fa-solid fa-hand-holding-usd color-info"></i>
  <% end %>
  <span class="tag is-light is-info"><%= task.cost_fund %></span>
</div>
