<div class="tags has-addons">
  <%= button_to({ controller: 'tasks', action: 'deadline', id: task.id }, aria: { label: '截止日期' }, class: 'tag') do %>
    <i class="fa-solid fa-timeline-arrow color-danger"></i>
  <% end %>
  <span class="tag is-light is-danger"><%= task.deadline_on %></span>
</div>
