<% if task.estimated_time %>
  <div class="tags has-addons">
    <%= button_to({ controller: 'tasks', action: 'estimated', id: task.id }, aria: { label: '预估时间' }, form: { class: 'tag' }) do %>
      <i class="fa-solid fa-tomato color-danger"></i>
    <% end %>
    <span class="tag is-light is-danger"><%= task.estimated_time %></span>
  </div>
<% else %>
  <%= button_to({ controller: 'tasks', action: 'estimated', id: task.id }, data: { show_target: 'item' }, aria: { label: '预估时间' }, class: 'visibility-hidden') do %>
    <i class="fa-solid fa-tomato color-danger"></i>
  <% end %>
<% end %>