<div class="level-item">
<% if task.cost_stock %>
  <div class="tags has-addons">
    <%= button_to({ controller: 'tasks', action: 'stock', id: task.id }, aria: { label: '股份' }, form: { class: 'tag' }) do %>
      <i class="fa-solid fa-trophy color-link"></i>
    <% end %>
    <span class="tag is-light is-link"><%= task.cost_stock %></span>
  </div>
<% else %>
  <%= button_to({ controller: 'tasks', action: 'stock', id: task.id }, data: { show_target: 'item' }, aria: { label: '股份' }, class: 'visibility-hidden') do %>
    <i class="fa-solid fa-trophy color-link"></i>
  <% end %>
<% end %>
</div>