<% if task.member %>
  <div class="tags has-addons">
    <%= button_to({ controller: 'tasks', action: 'member', id: task.id }, aria: { label: '人员' }, form: { class: 'tag' }) do %>
      <i class="fa-solid fa-user color-success"></i>
    <% end %>
    <span class="tag is-light is-success"><%= task.member.name %></span>
  </div>
<% else %>
  <%= button_to({ controller: 'tasks', action: 'member', id: task.id }, aria: { label: '人员' }) do %>
    <i class="fa-solid fa-user color-success"></i>
  <% end %>
<% end %>