<div class="tags has-addons">
  <%= link_to({ controller: 'tasks', action: 'member', id: task.id }, data: { turbo_frame: 'modal' }, aria: { label: '人员' }, class: 'tag') do %>
    <i class="fa-solid fa-user color-success"></i>
  <% end %>
  <span class="tag is-light is-success"><%= task.member.name %></span>
</div>
