<tr>
  <td><%= project_taxon_indicator.facilitate_taxon.name %></td>
  <td><%= project_taxon_indicator.indicator.name %></td>
  <td>
    <%= link_to({ action: 'edit', id: project_taxon_indicator.id }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: project_taxon_indicator.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
