<div class="<%= active_helper(modules: 'bench/admin', active: 'ex-accordion is-active', item: 'ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('bench.admin.projects.index.title'), { controller: 'bench/admin/projects' }, class: active_helper(controllers: ['projects', 'taxon_indicators', 'taxon_facilitates', 'task_templates'], financial_type: 'Bench::Taxon', active: 'is-active') %>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-share-alt"></i>
    <span><%= t('bench.admin.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
