<%= render 'filter_table' %>

<div data-controller="sortable" data-src="/my/tasks/">
  <% @tasks.each do |task| %>
    <%= render partial: 'item', locals: { task: task } %>
  <% end %>
  <div class="level" id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to new_me_task_path do %>
        <i class="fa-light fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @tasks %>
