<%= render 'filter_table' %>

<div id="task_lists" data-controller="sortable" data-src="/my/tasks/">
  <% @tasks.each do |task| %>
    <%= render partial: '_index/item', locals: { task: task } %>
  <% end %>
  <div class="level" id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to new_my_task_path, remote: true do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @tasks %>
