<div class="level" data-id="<%= task.id %>" id="task_<%= task.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <div class="level-item" style="visibility: hidden" data-show-target="item">
      <%= render partial: '_shared/rail', locals: { task: task } %>
    </div>
    <div class="level-item">
      <i class="fas fa-bars"></i>
      <% if task.task_timer %>
        <i class="fas fa-hourglass-start has-text-success"></i>
      <% end %>
      <%= link_to task.title, me_task_path(task) %>
    </div>
  </div>
</div>
