<% if @task.root? && @task.tasking_id.nil? %>
<tr id="task_edit_project_id">
  <td>所属项目: </td>
  <td><%= @task.tasking&.name %></td>
  <td>
    <%= link_to edit_my_task_path(@task, item: 'project_id'), remote: true do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  </td>
</tr>
<% end %>
