<% if @task.task_template %>
<div id="task_edit_pipeline" class="level is-underline">
  <div class="level-left">
    <div class="level-item"><%= @task.task_template.title %></div>
  </div>
</div>

<% elsif @task.tasking %>
  <div class="level is-underline">
    <%= form_with model: @task, url: me_task_path, method: :patch, wrap: { all: false } do |f| %>
      <div class="field-body">
        <%= f.collection_select :task_template_id, @task.task_templates, :id, :title, label: false, include_blank: true, wrap: { select: 'field is-narrow > control > select is-fullwidth' } %>
        <%= f.submit nil, wrap: { submit: nil }, origin: { offset: false } %>
      </div>
    <% end %>
  </div>
<% end %>
