<div class="weui-media-box weui-media-box_appmsg is-box">
  <div data-controller="empty" class="weui-media-box__hd as-logo">
    <%= image_tag model.avatar, class: 'weui-media-box__thumb' if model.avatar.attached? %>
  </div>
  <div class="weui-media-box__bd as-body">
    <%= link_to({ controller: 'facilitators', action: 'show', id: model.id }, class: 'weui-media-box__title') do %>
      <span class="has-text-link-dark"><%= model.name %></span>
    <% end %>
    <div class="has-block-space-between py-1">
      <div class="has-inline-centered">
      </div>
      <div class="is-flex">

      </div>
    </div>
  </div>
</div>
