<div class="weui-media-box weui-media-box_appmsg is-box">
  <div data-controller="empty" class="weui-media-box__hd as-logo">
    <%= image_tag model.avatar, class: 'image is-64x64' if model.avatar.attached? %>
  </div>
  <div class="weui-media-box__bd as-body">
    <%= link_to({ controller: 'facilitators', action: 'show', facilitate_id: @facilitate.id, id: model.id }, class: 'weui-media-box__title') do %>
      <span class="has-text-link-dark"><%= model.name %></span>
    <% end %>
    <div class="has-text-grey"><%= model.description %></div>
  </div>
</div>
