<div class="ui avatar image">
  <i class="grey content icon"></i>
</div>

<div class="content">
  <%= link_to task_template.title, my_task_template_path(task_template) %>
  <%= link_to edit_my_task_template_path(task_template, item: 'title'), class: 'grey text' do %>
    <i class="write icon"></i>
  <% end %>
  <%= link_to my_task_template_path(task_template), method: 'delete', class: 'grey text' do %>
    <i class="undo icon"></i>
  <% end %>
</div>
