<%= form_with theme: nil, model: @task_template, url: { action: 'create' }, data: { controller: 'input' }, class: 'field is-horizontal' do |f| %>
  <div class="field-body">
    <%= f.hidden_field :parent_id %>
    <div class="field">
      <%= f.text_field :title, required: 'required', class: 'input' %>
    </div>
    <div class="field is-narrow">
      <%= f.submit '保存', class: 'button is-primary' %>
      <button class="button is-light" data-controller="common" data-action="common#cancel">取消</button>
    </div>
  </div>
<% end %>
