<%= render partial: 'taxon_bar', locals: { taxon: @taxon } %>

<div class="box">
  <%= render partial: 'index_item', collection: @task_templates, as: :task_template %>
  <div id="item_add">
    <%= button_to({ action: 'new', taxon_id: params[:taxon_id] }) do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>

<div id="app"></div>
