<%= render partial: 'taxon_bar', locals: { taxon: @taxon } %>

<div class="box">
  <%= render partial: 'index_item', collection: @task_templates, as: :task_template %>
  <turbo-frame id="item_add">
    <%= link_to({ action: 'new', taxon_id: params[:taxon_id] }) do %>
      <i class="fa-regular fa-plus"></i>
    <% end %>
  </turbo-frame>
</div>

<div id="app"></div>
