<td>
  <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
  <%= model.name %>
</td>
<td><%= model.description %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td><%# model.price %></td>
<td></td>
