<td>
  <%= image_tag model.logo, size: 'image is-32' if model.logo.attached? %>
  <%= model.name %>
</td>
<td><%= model.description %></td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
<td><%# model.price %></td>
<td></td>
