<p class="text-centered py-2">
  <strong><%= facilitating.item.good.name %></strong>
</p>
<div class="text-centered">
<% unless facilitating.member %>
  <figure class="image">
    <%= image_tag facilitating.qrcode_enter_url %>
    <figcaption class="text-centered">出示二维码核销</figcaption>
  </figure>
<% end %>
</div>
<%= render partial: 'facilitating_preview', locals: { facilitating: facilitating } %>
<%= turbo_stream_from facilitating %>
