<%= f.collection_select :job_title_id, @job_titles, :id, :name %>
<div class="inline fields">
  <div class="six wide field"></div>
  <div>
    <%= f.submit '保存', wrap: { all: false, offset: false } %>
    <%= link_to '返回', me_project_members_path(@project), class: 'ui button' %>
  </div>
</div>
