<%= f.collection_select :duty_id, Duty.all, :id, :name, label: '职位：' %>
<div class="inline fields">
  <div class="six wide field"></div>
  <div>
    <%= f.submit '保存', can: { wrap_all: false, offset: false } %>
    <%= link_to '返回', my_project_members_path(@project), class: 'ui button' %>
  </div>
</div>
