<%= render partial: 'project_bar', locals: { project: @project } %>

<div class="ui bottom attached segment">
  <%= form_with model: @project_member, url: me_project_member_path(@project, @project_member) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
