<%= render partial: 'project_bar', locals: { project: @project } %>

<div class="ui bottom attached segment">
  <%= form_with model: @project_member, url: my_project_members_path(@project), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
