<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('bench.admin.facilitates.index.title'), { controller: 'facilitates' } %></li>
    <li><%= link_to @facilitate.name, { controller: 'facilitates', action: 'index', id: @facilitate.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
