<tr>
  <td><%= Bench::TaxonIndicator.human_attribute_name(:facilitate_taxon_id) %></td>
  <td><%= @taxon_indicator.facilitate_taxon_id %></td>
</tr>
<tr>
  <td><%= Bench::TaxonIndicator.human_attribute_name(:indicator_id) %></td>
  <td><%= @taxon_indicator.indicator_id %></td>
</tr>
