<tr>
  <td class="has-text-right"><%= ProjectTaxonIndicator.human_attribute_name(:facilitate_taxon_id) %></td>
  <td><%= @taxon_indicator.facilitate_taxon_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ProjectTaxonIndicator.human_attribute_name(:indicator_id) %></td>
  <td><%= @taxon_indicator.indicator_id %></td>
</tr>
