<div>
  <dt><%= Bench::FacilitateIndicator.human_attribute_name(:note) %></dt>
  <dd><%= @facilitate_indicator.note %></dd>
</div>
<div>
  <dt><%= Bench::FacilitateIndicator.human_attribute_name(:indicator_id) %></dt>
  <dd><%= @facilitate_indicator.indicator_id %></dd>
</div>
