<%= render partial: 'project_bar', locals: { project: @project } %>

<%= render 'bench/me/tasks/filter_table' %>

<div class="columns">

  <div class="column">
    <div class="ui divided items" data-controller="sortable" data-src="/me/tasks/">
      <% @tasks.each do |task| %>
        <%= render partial: 'item', locals: { task: task } %>
      <% end %>
      <div id="item_add" class="item">
        <% if 'done' != params[:state] %>
          <%= link_to new_me_task_path(tasking_type: 'Project', tasking_id: @project.id), remote: true do %>
            <i class="fas fa-plus"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="column">

  </div>

</div>
