<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to(t('bench.admin.taxons.index.title'), { controller: 'taxons', action: 'index' }) %></li>
    <li><%= link_to @taxon.name, { controller: 'taxons', action: 'show', id: @taxon.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
