<div class="ui modal">
  <i class="fas fa-times close"></i>
  <div class="ui header">
    Edit Employee
  </div>

  <div class="content">
    <%= form_with model: @worker, scope: :worker, url: admin_worker_path do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>
