<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('facility.admin.facilitate_providers.index.title'), { controller: 'facilitate_providers' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
