<tr>
  <td><%= Bench::Milepost.human_attribute_name(:name) %></td>
  <td><%= @milepost.name %></td>
</tr>
<tr>
  <td><%= Bench::Milepost.human_attribute_name(:project_mileposts_count) %></td>
  <td><%= @milepost.project_mileposts_count %></td>
</tr>
