<div>
  <dt><%= Bench::Milepost.human_attribute_name(:name) %></dt>
  <dd><%= @milepost.name %></dd>
</div>
<div>
  <dt><%= Bench::Milepost.human_attribute_name(:project_mileposts_count) %></dt>
  <dd><%= @milepost.project_mileposts_count %></dd>
</div>
