<%= render partial: "my/#{@tasking.class.name.underscore.pluralize}/top_bar", locals: { @tasking.class.name.underscore.to_sym => @tasking } %>

<div class="ui divided items" id="task_templates">
  <% @task_templates.each do |task_template| %>
    <%= render partial: 'index_item', locals: { task_template: task_template } %>
  <% end %>
  <div id="item_add" class="item">
    <%= link_to new_my_task_template_path(tasking_type: @tasking.class.name, tasking_id: @tasking.id), remote: true do %>
      <i class="grey plus icon"></i>
    <% end %>
  </div>
</div>
