<div class="level-left">
  <div class="level-item">
    <span>预估时间：</span>
    <%= form_with url: { action: 'update', id: @task.id }, method: :patch, id: 'edit_estimated_time' %>
    <%= hidden_field_tag :item, 'estimated_time', form: 'edit_estimated_time' %>
  </div>
  <div class="level-item"><%= number_field_tag 'task[estimated_time]', @task.estimated_time, min: 0, form: 'edit_estimated_time' %></div>
</div>
<div class="level-right">
  <div class="level-item">
    <%= submit_tag 'save', class: 'button is-primary', form: 'edit_estimated_time' %>
    <button class="button is-light" data-controller="common" data-action="common#cancel">取消</button>
  </div>
</div>
