<div id="task_edit_estimated_time" class="level is-underline">
  <div class="level-left">
    <span>预估时间：</span>
    <span><%= @task.estimated_time %></span>
  </div>
  <div class="level-right">
  <% if @task.leaf? %>
    <%= link_to({ action: 'edit', id: @task.id }, item: 'estimated_time') do %>
      <i class="fa-regular fa-pencil"></i>
    <% end %>
  <% end %>
  </div>
</div>
