<% if @task.root? && @task.project_id.nil? %>
<tr id="task_edit_project_id">
  <td>所属项目: </td>
  <td><%= @task.project&.name %></td>
  <td>
    <%= link_to({ action: 'edit', id: @task.id, item: 'project_id' }) do %>
      <i class="fa-light fa-pencil"></i>
    <% end %>
  </td>
</tr>
<% end %>
