<%= render 'filter_table' %>

<div data-controller="sortable">
  <%= render partial: 'task', collection: @tasks, as: :task %>
  <turbo-frame id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to({ action: 'new' }) do %>
        <i class="fa-light fa-plus"></i>
      <% end %>
    <% end %>
  </turbo-frame>
</div>

<%= paginate @tasks %>
