<%= form_for(project_team) do |f| %>
  <% if project_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_team.errors.count, "error") %> prohibited this project_team from being saved:</h2>

      <ul>
      <% project_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
