<div id="task_edit_estimated_time" class="level">
  <div class="level-left">
    <span>预估时间：</span>
    <span><%= @task.estimated_time %></span>
  </div>
  <div class="level-right">
  <% if @task.leaf? %>
    <%= link_to edit_me_task_path(@task, item: 'estimated_time'), remote: true do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  <% end %>
  </div>
</div>
