<div data-controller="empty" class="box is-padding-less mx-3">
  <div class="box-body">
    <span class="size-7 has-border-left-primary"><%= t('bench.me.title') %></span>
  </div>
  <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
    <%= link_to({ controller: 'bench/me/facilitatings' }, class: 'column has-column-centered') do %>
      <div class="has-text-primary">
        <i class="fa-solid fa-user-ninja fa-fw fa-xl"></i>
      </div>
      <div class="has-text-grey size-7 mt-1"><%= t('bench.me.facilitatings.index.title') %></div>
    <% end %>
  </div>
</div>
