<div class="menu-label">
  <span><%= t('bench.me.title') %></span>
  <%= link_to({ controller: 'bench/admin/taxons' }, aria: { label: '管理' }) do %>
    <i class="fa-light fa-cog"></i>
  <% end %>
</div>
<div class="menu-list">
  <%= link_to t('bench.me.tasks.index.title'), { controller: 'bench/me/tasks' }, class: active_helper(controllers: ['tasks', 'projects', 'bench/me/expenses', 'task_timers'], active: 'is-active') %>
</div>
