<span class="menu-label"><%= t('bench.me.title') %></span>
<div class="menu-list">
  <%= link_to t('bench.me.tasks.index.title'), me_tasks_path, class: active_helper(controllers: ['tasks', 'projects', 'bench/me/expenses'], active: 'is-active') %>
</div>
