<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header">
    <%= t('.new') %>
  </div>
  
  <div class="content">
    <%= form_with model: @team_member, url: my_team_member_path(@team, @team_member) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
