<%= f.collection_select :duty_id, Duty.all, :id, :name %>
<div class="inline fields">
  <div class="six wide field"></div>
  <div>
    <%= f.submit '保存', on: { wrapper_all: false, offset: false } %>
    <%= link_to '返回', my_team_members_path(@team), class: 'ui button' %>
  </div>
</div>
