<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Edit Worker
  </div>

  <div class="content">
    <%= form_with model: @project_member, url: worker_my_project_member_path(@project, @project_member), method: :patch do |f| %>
      <%= f.select :worker_id, options_for_select([@project_member.worker&.name, @project_member.worker_id], @project_member.worker&.name) %>
      <%= f.submit %>
    <% end %>
  </div>

</div>