<%= render partial: 'project_bar', locals: { project: @task.project } %>

<div class="breadcrumb">
  <ul>
    <% @task.ancestors.each do |ancestor| %>
      <li><%= link_to ancestor.title, { controller: 'tasks', action: 'show', id: ancestor.id } %></li>
    <% end %>
    <li class="is-active"><%= @task.title %></li>
  </ul>
</div>
