<div data-id="<%= task.id %>" data-url="<%= url_for(controller: 'tasks', action: 'reorder', id: task.id) %>">
  <%= render partial: 'task', locals: { task: task } %>
  <% if task.root? && task.children.size > 0 %>
  <div data-controller="sort" class="pl-4">
    <%= render partial: 'sortable_task', collection: task.children, as: :task %>
  </div>
  <% end %>
</div>
