<%= f.number_field :price %>
<%= f.check_box :visible %>
<div class="inline fields">
  <div class="six wide field"></div>
  <div>
    <%= f.submit '保存', can: { wrap_all: false, offset: false } %>
    <%= link_to '返回', my_project_funds_path(@project, id: @project_fund.id), class: 'ui button' %>
  </div>
</div>
