<%= render partial: 'bench/my/projects/top_bar', locals: { project: @project } %>

<div class="ui bottom attached segment">
  <%= form_with model: @project_fund, url: my_project_funds_path(@project), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
