<h3 class="ui header">
  <%= t('.title') %>
</h3>

<table class="table">
  <thead>
    <tr>
      <td></td>
      <td colspan="2">
        <%= link_to '新建项目', new_my_project_path, remote: true, class: 'button is-light' %>
      </td>
    </tr>
  </thead>
  <% @projects.each do |project| %>
    <%= render partial: 'project', locals: { project: project } %>
  <% end %>
</table>

<%= paginate @projects %>
