<tr>
  <td class="has-text-right"><%= FacilitateIndicator.human_attribute_name(:note) %></td>
  <td><%= @facilitate_indicator.note %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FacilitateIndicator.human_attribute_name(:indicator_id) %></td>
  <td><%= @facilitate_indicator.indicator_id %></td>
</tr>
