<div class="weui-media-box__title"><%= model.name %></div>
<div class="has-block-space-between py-1">
  <div class="has-inline-centered">
    <span class="has-text-danger"><%= model.price.to_money.format.html_safe %></span>
    <% if model.advance_price.to_d > 0 %>
      <span class="has-text-grey pl-2">预付</span>
      <span class="has-text-danger-dark"><%= model.advance_price.to_money.format.html_safe %></span>
    <% end %>
  </div>
  <div class="is-flex">
    <%= render partial: 'cart', locals: { model: model, cart: @cart } %>
  </div>
</div>
