<div class="media as-box">
  <div class="media-left as-logo">
    <%= image_tag model.logo, class: 'image is-64x64' if model.logo.attached? %>
  </div>
  <div class="media-content">
    <%= yield %>
  </div>
</div>
