<div class="ui segment breadcrumb">
  <%= link_to '返回', my_pipelines_path(piping_type: params[:piping_type], piping_id: params[:piping_id]), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">新增</div>
</div>

<div class="ui segment">
  <%= form_with model: @pipeline, url: my_pipelines_path do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>