<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('bench.admin.project_taxons.index.title'), { action: 'index' } %></li>
    <li class="is-active"><%= @project_taxon.name %></li>
  </ul>
</div>
