<td><%= link_to model.name, { controller: 'projects', taxon_id: model.id }, text: true %></td>
<td><%= simple_format model.parameters %></td>
<td>
  <%= link_to({ controller: 'projects', taxon_id: model.id }, text: true, aria: { label: t('bench.admin.projects.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-light fa-list-ul"></i><span><%= model.projects_count %></span>
  <% end %>
</td>
