<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('bench.admin.facilitates.index.title'), { controller: 'facilitates' } %></li>
    <li><span class="px-3"><%= @facilitate.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
