<div class="menu ex-accordion is-active" data-controller="menu">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-share-alt"></i>
      <span><%= t('bench.panel.title') %></span>
    </div>
  </div>
  <div class="menu-list">
    <%= link_to t('bench.panel.taxons.index.title'), { controller: 'bench/panel/taxons' }, class: active_helper(controllers: ['taxons', 'facilitate_providers', 'task_templates'], active: 'is-active') %>
  </div>
</div>
