<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to(t('bench.admin.project_taxons.index.title'), { controller: 'project_taxons', action: 'index' }) %></li>
    <li class="is-active"><%= @task.title %></li>
  </ul>
</div>
