<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="ui header blue">
    Schedule
  </div>

  <div class="content">
    <%= form_with model: @task, url: my_task_path(@task), method: 'patch', on: { wrap_id: true } do |f| %>
      <div class="inline fields">
        <label class="six wide field"></label>
        <%= link_to 'today', focus_my_task_path(@task, focus: 'today'), method: :patch, remote: true, class: 'ui mini green button' %>
      </div>
      <%= render partial: 'the_booking/time/form', locals: { f: f } %>
    <% end %>
  </div>

</div>
