<% if task.parent_id %>
  <%= render partial: 'bench/my/tasks/_show/item_child', locals: { task: task } %>
<% else %>
  <%= render partial: 'bench/my/tasks/_index/item', locals: { task: task } %>
<% end %>
<div class="item" id="item_add">
  <% if 'done' != params[:state] %>
    <%= link_to new_my_task_path, remote: true do %>
      <i class="grey plus icon"></i>
    <% end %>
  <% end %>
</div>
