<div>
  <dt><%= Bench::ProjectFacilitate.human_attribute_name(:facilitate_id) %></dt>
  <dd><%= @project_facilitate.facilitate.name %></dd>
</div>
<div>
  <dt><%= Bench::ProjectFacilitate.human_attribute_name(:provider_id) %></dt>
  <dd><%= @project_facilitate.provider&.name %></dd>
</div>
